---
title: Comic Arts Brooklyn
---

.content
  %section.cover

  %section.section-page.marquee
    .container
      .inner
        %h2.section-header Featuring
        %p.big-names Josh Bayer Charles Burns Roz Chast Michael DeForge Julie Doucet Aisha Franz Lisa Hanawalt Al Jaffee Chip Kidd Tim Lane Benjamin Marra Richard McGuire Raymond Pettibon James Romberger Jim Rugg Olivier Schrauwen Dash Shaw Art Spiegelman Adrian Tomine Marguerite Van Cook

  %section.spacer

  %section.section-page.featured
    .container
      .inner
        %h2.section-header Events
        
        %article.featured-article
          %aside.featured-article-meta
            .date
              .date-day Thurs
              .date-month Nov 6

            .place
              .place-title Desert Island
              .place-sub Opening reception
              .place-time 7 - 9pm
          
          .featured-article-content
            %h1 Julie Doucet Collage Exhibition
            %p Acclaimed visual artist and cartoonist Julie Doucet presents her recent collage work. Please join for a reception with the artist!

        %article.featured-article
          %aside.featured-article-meta
            .date
              .date-day Friday
              .date-month Nov 6

            .place
              .place-title Desert Island
              .place-sub Opening reception
              .place-time 7 - 9pm
          
          .featured-article-content
            %h1 Julie Doucet Collage Exhibition
            %p Acclaimed visual artist and cartoonist Julie Doucet presents her recent collage work. Please join for a reception with the artist!
  
  %section.spacer.spacer-2

  %section.section-page.program
    .container
      .inner
        %h2.section-header Programming

        %header.program-header
          .date
            .date-day Saturday
            .date-month Nov 8

          .place
            .place-title Our Lady of Mt. Carmel Church
            .place-sub Brooklyn

        %article.program-article
          .program-article-content
            .program-article-time All Day
            %h1 Book Sales

  %section.section-page.program.bg-vibrant
    .container
      .inner
        %header.program-header
          .date
            .date-day Sunday
            .date-month Nov 8

          .place
            .place-title Our Lady of Mt. Carmel Church
            .place-sub Brooklyn

        %article.program-article
          .program-article-content
            .program-article-time 11:00 am
            %h1 Al Jaffee: Unfolded
            %p Al Jaffee began his long and illustrious career in comics in 1941 with the “inferior man” feature for Quality Comics. He later joined his high-school pal Harvey Kurtzman at Mad Magazine in 1955, and went on to create hundreds of features for MAD, including the iconic “Mad Fold-In” and “Snappy Answers to Stupid Questions.” Now, at age 93, he has contributed to 480 issues of the magazine, more than any other mad artist.

            %p Jaffee will be interviewed by Michael Kupperman, a cartoonist of whom Conan O’Brien said “this guy may have one of the best comedy brains on the planet.”
    
    .container
      .inner
              
        %article.program-article.align-right
          .program-article-content
            .program-article-time 11:00 am
            %h1 Al Jaffee: Unfolded
            %p Al Jaffee began his long and illustrious career in comics in 1941 with the “inferior man” feature for Quality Comics. He later joined his high-school pal Harvey Kurtzman at Mad Magazine in 1955, and went on to create hundreds of features for MAD, including the iconic “Mad Fold-In” and “Snappy Answers to Stupid Questions.” Now, at age 93, he has contributed to 480 issues of the magazine, more than any other mad artist.

            %p Jaffee will be interviewed by Michael Kupperman, a cartoonist of whom Conan O’Brien said “this guy may have one of the best comedy brains on the planet.”     
  
  %section.spacer.spacer-3

  %section.section-page.locations
    %aside.location-map
      .map
    .location-directory
      %ul.location-list
        %li 
          %h4 Our Lady of Mt. Carmel Church
          %p 275 N. 8th St
        %li 
          %h4 Wythe Hotel
          %p 80 Wythe Ave
        %li 
          %h4 Desert Island
          %p 540 Metropolitan Ave
        %li 
          %h4 Scott Eder Gallery
          %p 18 Bridge St 2-i
        %li 
          %h4 Cotton Candy Machine
          %p 235 South 1st St
        %li 
          %h4 Wayfarers Gallery
          %p 1109 Dekalb Ave

  %footer.footer
    .container
      .inner
        %h4.section-header Sponsored by