---
title: Comic Arts Brooklyn
---

.content
  %section.section-page.cover
    .skin
      %aside.scroll-menu
        %ul
          %li
            %a.bg-vibrant{:href => '#'} Featuring
          %li
            %a.bg-cool{:href => '#'} Events
          %li
            %a.bg-deep{:href => '#'} Programming
          %li
            %a.bg-sour{:href => '#'} Map

  %section.section-page.places
    .container
      .inner
        %section.place-article
          %header.program-header
            %h1.place-name Book Sales & Signings
            .date
              .date-day Saturday, Nov 7th

            .place
              .place-title Our Lady of Mt. Carmel Church
              .place-sub 12 Havemeyer St Brooklyn, NY 11211
              .place-price FREE

        %section.place-article
          %header.program-header
            %h1.place-name Talks & Interviews
            .date
              .date-day Sunday, Nov 9

            .place
              .place-title Wythe Hotel
              .place-sub 80 Wythe Ave Brooklyn, NY 11211
              .place-price FREE

  %section.section-page.marquee
    .container
      .inner
        %h2.section-header Featuring
        %p.big-names 
          %span
            Josh Bayer 
          %span
            Charles Burns 
          %span
            Roz Chast Michael 
          %span
            DeForge Julie Doucet 
          %span
            Aisha Franz 
          %span
            Lisa Hanawalt 
          %span
            Al Jaffee 
          %span
            Chip Kidd 
          %span
            Tim Lane 
          %span
            Benjamin Marra 
          %span
            Richard McGuire 
          %span
            Raymond Pettibon 
          %span
            James Romberger 
          %span
            Jim Rugg 
          %span
            Olivier Schrauwen 
          %span
            Dash Shaw 
          %span
            Art Spiegelman 
          %span
            Adrian Tomine 
          %span
            Marguerite Van Cook

        %h2.section-header & Over 100 Exhibitors

        .section-action
          %a.button.giant-button See Complete List 

  %section.spacer

  %section.section-page.featured
    .container
      .inner
        %h2.section-header Events
        
        %section.equalheight
          %article.featured-article.equals
            %aside.featured-article-meta
              .date
                .date-day Thu
                .date-month Nov 3
            
            .featured-article-content
              %h1 Julia Wertz & Jane Mai
            
              %aside.featured-article-meta
                .place
                  .place-title Desert Island
                  .place-sub Book Release & Signing
                  .place-time 7 - 9pm
              %p 
                %a.button.primary Website
                %a.button.secondary Location

          %article.featured-article.equals
            %aside.featured-article-meta
              .date
                .date-day Thurs
                .date-month Nov 5

            .featured-article-content
              %h1 Caroline Paquita's Woo-Woo-Womanvil
            
              %aside.featured-article-meta
                .place
                  .place-title Wayfarers Gallery
                  .place-sub Opening reception
                  .place-time 7 - 9pm
              %p.article.action
                %a.button.primary Website
                %a.button.secondary Location 

          %article.featured-article.equals
            %aside.featured-article-meta
              .date
                .date-day Thurs
                .date-month Nov 5

            .featured-article-content
              %p CAB Screening Series
              %h1 Felony Comics presents Mexican Crime and Horror Films
              
              %aside.featured-article-meta
                .place
                .place-title Spectacle Theater
                .place-time 7:30, 10pm & Midnight
                %p $5 EACH
              %p
                %a.button.primary Website
                %a.button.secondary Location      

          %article.featured-article.equals
            %aside.featured-article-meta
              .date
                .date-day Fri
                .date-month Nov 6
            
            .featured-article-content
              %h1 The Oddly Compelling Art of Denis Kitchen
            
              %aside.featured-article-meta
                .place
                  .place-title Scott Eder Gallery
                  .place-sub Opening reception
                  .place-time 6 - 9pm
              %p 
                %a.button.primary Website
                %a.button.secondary Location

          %article.featured-article.equals
            %aside.featured-article-meta
              .date
                .date-day Sat
                .date-month Nov 7
            
            .featured-article-content
              %h1 Comic Arts Brooklyn: Book Sales & Signing
              
              %aside.featured-article-meta
                .place
                  .place-title Mt. Carmel Gymnasium
                  .place-time 11am - 7pm

              %p 
                %a.button.primary Full List
                %a.button.secondary Location    

          %article.featured-article.equals
            %aside.featured-article-meta
              .date
                .date-day Sat
                .date-month Nov 7

            .featured-article-content
              %h1 Zine Friends
              
              %aside.featured-article-meta
                .place
                .place-title Cotton Candy Machine Gallery

              %p 
                %a.button.primary Website
                %a.button.secondary Location    

          %article.featured-article.equals
            %aside.featured-article-meta
              .date
                .date-day Sat
                .date-month Nov 7

            .featured-article-content
              %h1 After Party with 7 Bands
              
              %aside.featured-article-meta
                .place
                  .place-title Secret Project Robot
                  %p $10, Free for Exhibitors

              %p 
                %a.button.primary Website
                %a.button.secondary Location
                 
          %article.featured-article.equals
            %aside.featured-article-meta
              .date
                .date-day Sun
                .date-month Nov 8
            
            .featured-article-content
              %h1 Comic Arts Brooklyn: Talks & Interviews
            
              %aside.featured-article-meta
                .place
                  .place-title Wythe Hotel
                  .place-time 11am - 7pm
                  
              %p 
                %a.button.primary Full List
                %a.button.secondary Location

          %article.featured-article.equals
            %aside.featured-article-meta
              .date
                .date-day Sun
                .date-month Nov 8
            
            .featured-article-content
              %p CAB Screening Series
              %h1 Chuck Forsman presents Ms. 45
              %h1 Lale Westvind presents Liquid Sky
              %aside.featured-article-meta
                .place
                  .place-title Spectacle Theater
                  .place-time 7:30pm & 10pm
                  %p $5 EACH
              %p
                %a.button.primary Website
                %a.button.secondary Location                   

  %section.spacer.spacer-2

  %section.section-page.program
    .container
      .inner
        %h2.section-header Programming

        %header.program-header
          .date
            .date-day Saturday
            .date-month Nov 8

          .place
            .place-title Our Lady of Mt. Carmel Church
            .place-sub Brooklyn

        %article.program-article
          .program-article-content
            .program-article-time All Day
            %h1 Book Sales

  %section.section-page.program.bg-vibrant
    .container
      .inner
        %header.program-header
          .date
            .date-day Sunday
            .date-month Nov 9

          .place
            .place-title Wythe Hotel
            .place-sub Williamsburg

        %article.program-article
          .program-article-content
            .program-article-time 11:00 am
            %h1 Al Jaffee: Unfolded
            %p Al Jaffee began his long and illustrious career in comics in 1941 with the “inferior man” feature for Quality Comics. He later joined his high-school pal Harvey Kurtzman at Mad Magazine in 1955, and went on to create hundreds of features for MAD, including the iconic “Mad Fold-In” and “Snappy Answers to Stupid Questions.” Now, at age 93, he has contributed to 480 issues of the magazine, more than any other mad artist.

            %p Jaffee will be interviewed by Michael Kupperman, a cartoonist of whom Conan O’Brien said “this guy may have one of the best comedy brains on the planet.”

            %p 
              %a.button Event Details
    
    .container
      .inner
              
        %article.program-article.align-right
          .program-article-content
            .program-article-time 12:00 am
            %h1 Charles Burns: Down the Black Hole
            %p Al Jaffee began his long and illustrious career in comics in 1941 with the “inferior man” feature for Quality Comics. He later joined his high-school pal Harvey Kurtzman at Mad Magazine in 1955, and went on to create hundreds of features for MAD, including the iconic “Mad Fold-In” and “Snappy Answers to Stupid Questions.” Now, at age 93, he has contributed to 480 issues of the magazine, more than any other mad artist.

            %p Jaffee will be interviewed by Michael Kupperman, a cartoonist of whom Conan O’Brien said “this guy may have one of the best comedy brains on the planet.”

            %p 
              %a.button Event Details  
  
  %section.spacer.spacer-3

  %section.section-page.locations
    %aside.location-map
      .map
    .location-directory
      %h2.section-header Map

      %ul.location-list
        %li
          %span 1
          %h4 Our Lady of Mt. Carmel Church
          %p 275 N. 8th St
        %li 
          %span 2
          %h4 Wythe Hotel
          %p 80 Wythe Ave
        %li 
          %span 3
          %h4 Desert Island
          %p 540 Metropolitan Ave
        %li 
          %span 4
          %h4 Scott Eder Gallery
          %p 18 Bridge St #2I
        %li 
          %span 5
          %h4 Cotton Candy Machine
          %p 235 South 1st St
        %li 
          %span 6
          %h4 Wayfarers Gallery
          %p 1109 Dekalb Ave
        %li 
          %span 7
          %h4 Secret Project Robot
          %p 389 Melrose St  

  %footer.footer
    .container
      .inner
        %h4.section-header Sponsored by