---
title: Comic Arts Brooklyn
---

.content
  %section.section-page.cover
    / .skin
    /   %aside.scroll-menu
    /     %ul
    /       %li
    /         %a.bg-vibrant{:href => '#'} Featuring
    /       %li
    /         %a.bg-cool{:href => '#'} Events
    /       %li
    /         %a.bg-deep{:href => '#'} Programming
    /       %li
    /         %a.bg-sour{:href => '#'} Map

  %section.section-page.marquee
    .container
      .inner
        %h2.section-header Social
        %p 
          %a.button{:href => 'http://twitter.com/ComicArtsBklyn/'} Tumblr
          %a.button{:href => 'http://comicartsbrooklyn.tumblr.com/'} Twitter
          %a.button{:href => 'http://facebook.com/comicartsbrooklyn'} Facebook

        / %h2.section-header Featuring
        / %p.big-names 
        /   %span
        /     Josh Bayer 
        /   %span
        /     Charles Burns 
        /   %span
        /     Roz Chast Michael 
        /   %span
        /     DeForge Julie Doucet 
        /   %span
        /     Aisha Franz 
        /   %span
        /     Lisa Hanawalt 
        /   %span
        /     Al Jaffee 
        /   %span
        /     Chip Kidd 
        /   %span
        /     Tim Lane 
        /   %span
        /     Benjamin Marra 
        /   %span
        /     Richard McGuire 
        /   %span
        /     Raymond Pettibon 
        /   %span
        /     James Romberger 
        /   %span
        /     Jim Rugg 
        /   %span
        /     Olivier Schrauwen 
        /   %span
        /     Dash Shaw 
        /   %span
        /     Art Spiegelman 
        /   %span
        /     Adrian Tomine 
        /   %span
        /     Marguerite Van Cook

        / %h2.section-header & Over 100 Exhibitors

        / .section-action
        /   %a.button.giant-button See Complete List 

  %section.spacer

  / %section.section-page.featured
  /   .container
  /     .inner
  /       %h2.section-header Events
        
  /       %section.equalheight
  /         %article.featured-article.equals
  /           %aside.featured-article-meta
  /             .date
  /               .date-day Thu
  /               .date-month Nov 6
            
  /           .featured-article-content
  /             %h1 Julie Doucet Collage Exhibition
  /             %p Acclaimed visual artist and cartoonist 
            
  /           %aside.featured-article-meta
  /             .place
  /               .place-title Desert Island
  /               .place-sub Opening reception
  /               .place-time 7 - 9pm
  /           %p 
  /             %a.button.primary Website
  /             %a.button.secondary Location   

  /         %article.featured-article.equals
  /           %aside.featured-article-meta
  /             .date
  /               .date-day Fri
  /               .date-month Nov 7

  /           .featured-article-content
  /             %h1 The MAD Fold-In Art of Al Jaffee
  /             %p Acclaimed visual artist and cartoonist Julie Doucet presents her recent collage work. Please join for a reception with the artist!
            
  /           %aside.featured-article-meta
  /             .place
  /               .place-title Scott Eder Gallery
  /               .place-sub Opening reception
  /               .place-time 7 - 9pm
  /           %p.article.action
  /             %a.button.primary Website
  /             %a.button.secondary Location 

  /         %article.featured-article.equals
  /           %aside.featured-article-meta
  /             .date
  /               .date-day Sat
  /               .date-month Nov 8
            
  /           .featured-article-content
  /             %h1 Julie Doucet Collage Exhibition
  /             %p Acclaimed visual artist and cartoonist Julie Doucet presents her recent collage work. Please join for a reception with the artist!
            
  /           %aside.featured-article-meta
  /             .place
  /               .place-title Desert Island
  /               .place-sub Opening reception
  /               .place-time 7 - 9pm
  /           %p 
  /             %a.button.primary Website
  /             %a.button.secondary Location       

  / %section.spacer.spacer-2

  / %section.section-page.program
  /   .container
  /     .inner
  /       %h2.section-header Programming

  /       %header.program-header
  /         .date
  /           .date-day Saturday
  /           .date-month Nov 8

  /         .place
  /           .place-title Our Lady of Mt. Carmel Church
  /           .place-sub Brooklyn

  /       %article.program-article
  /         .program-article-content
  /           .program-article-time All Day
  /           %h1 Book Sales

  / %section.section-page.program.bg-vibrant
  /   .container
  /     .inner
  /       %header.program-header
  /         .date
  /           .date-day Sunday
  /           .date-month Nov 9

  /         .place
  /           .place-title Wythe Hotel
  /           .place-sub Williamsburg

  /       %article.program-article
  /         .program-article-content
  /           .program-article-time 11:00 am
  /           %h1 Al Jaffee: Unfolded
  /           %p Al Jaffee began his long and illustrious career in comics in 1941 with the “inferior man” feature for Quality Comics. He later joined his high-school pal Harvey Kurtzman at Mad Magazine in 1955, and went on to create hundreds of features for MAD, including the iconic “Mad Fold-In” and “Snappy Answers to Stupid Questions.” Now, at age 93, he has contributed to 480 issues of the magazine, more than any other mad artist.

  /           %p Jaffee will be interviewed by Michael Kupperman, a cartoonist of whom Conan O’Brien said “this guy may have one of the best comedy brains on the planet.”

  /           %p 
  /             %a.button Event Details
    
  /   .container
  /     .inner
              
  /       %article.program-article.align-right
  /         .program-article-content
  /           .program-article-time 12:00 am
  /           %h1 Charles Burns: Down the Black Hole
  /           %p Al Jaffee began his long and illustrious career in comics in 1941 with the “inferior man” feature for Quality Comics. He later joined his high-school pal Harvey Kurtzman at Mad Magazine in 1955, and went on to create hundreds of features for MAD, including the iconic “Mad Fold-In” and “Snappy Answers to Stupid Questions.” Now, at age 93, he has contributed to 480 issues of the magazine, more than any other mad artist.

  /           %p Jaffee will be interviewed by Michael Kupperman, a cartoonist of whom Conan O’Brien said “this guy may have one of the best comedy brains on the planet.”

  /           %p 
  /             %a.button Event Details  
  
  / %section.spacer.spacer-3

  / %section.section-page.locations
  /   %aside.location-map
  /     .map
  /   .location-directory
  /     %h2.section-header Map

  /     %ul.location-list
  /       %li
  /         %span 1
  /         %h4 Our Lady of Mt. Carmel Church
  /         %p 275 N. 8th St
  /       %li 
  /         %span 2
  /         %h4 Wythe Hotel
  /         %p 80 Wythe Ave
  /       %li 
  /         %span 3
  /         %h4 Desert Island
  /         %p 540 Metropolitan Ave
  /       %li 
  /         %span 4
  /         %h4 Scott Eder Gallery
  /         %p 18 Bridge St 2-i
  /       %li 
  /         %span 5
  /         %h4 Cotton Candy Machine
  /         %p 235 South 1st St
  /       %li 
  /         %span 6
  /         %h4 Wayfarers Gallery
  /         %p 1109 Dekalb Ave

  / %footer.footer
  /   .container
  /     .inner
  /       %h4.section-header Sponsored by