---
title: Comic Arts Brooklyn
---

.parallax-image-wrapper.parallax-image-wrapper-100{"data-anchor-target" => "#dragons + .gap", "data-bottom-top" => "transform:translate3d(0px, 200%, 0px)", "data-top-bottom" => "transform:translate3d(0px, 0%, 0px)"}
  .parallax-image.parallax-image-100{"data-anchor-target" => "#dragons + .gap", "data-bottom-top" => "transform: translate3d(0px, -80%, 0px);", "data-top-bottom" => "transform: translate3d(0px, 80%, 0px);", :style => "background-image:url(assets/images/bg-cover.jpg)"}

.content.skrollr
  %section.cover
    #dragons
    .gap.gap-100{:style => "background-image:url(assets/images/bg-cover.jpg)"}

  %section.marquee
    .container
      .inner
        %h2.section-header Featuring
        %p.big-names Josh Bayer Charles Burns Roz Chast Michael DeForge Julie Doucet Aisha Franz Lisa Hanawalt Al Jaffee Chip Kidd Tim Lane Benjamin Marra Richard McGuire Raymond Pettibon James Romberger Jim Rugg Olivier Schrauwen Dash Shaw Art Spiegelman Adrian Tomine Marguerite Van Cook

  %section.featured
    .container
      .inner
        %h2.section-header Events
        
        %article.featured-article
          %aside.featured-article-meta
            .date
              .date-day Thurs
              .date-month Nov 6

            .place
              .place-title Desert Island
              .place-sub Opening reception
              .place-time 7 - 9pm
          
          .featured-article-content
            %h1 Julie Doucet Collage Exhibition
            %p Acclaimed visual artist and cartoonist Julie Doucet presents her recent collage work. Please join for a reception with the artist!

        %article.featured-article
          %aside.featured-article-meta
            .date
              .date-day Thurs
              .date-month Nov 6

            .place
              .place-title Desert Island
              .place-sub Opening reception
              .place-time 7 - 9pm
          
          .featured-article-content
            %h1 Julie Doucet Collage Exhibition
            %p Acclaimed visual artist and cartoonist Julie Doucet presents her recent collage work. Please join for a reception with the artist!    

  %section.calendar
    .container
      .inner
        %h2.section-header Programming

  %section.map
    .container
      .inner
        %h2.section-header Map

  %footer.footer
    .container
      .inner
        %h4.section-header Sponsored by