section.cover {
  background-image: url(/assets/images/bg-cover.jpg);
  background-color: #fff;
  background-size: cover;
  background-position: 50% top;
  margin: 0 auto;

  padding: 125% 0 0 0;
  
  @include media($small-media) {
    padding: 65% 0 0 0;
  } 

  @include media($medium-media) {
    padding: 0;
    height: 600px;
  }

  @include media($large-media) {
    background-size: 1200px;
    background-repeat: no-repeat;
  }  

  @include media($x-large-media) {
    height: 80vh;
  }
}

.spacer {
  background-image: url(/assets/images/bg-cover.jpg);
  background-color: #fff;
  background-size: cover;
  background-position: 50% -50%;
  margin: 0 auto;
  padding: 15% 0 0 0;
  
  @include media($large-media) {
    background-size: 1200px;
  }

  &-2 {
    background-position: 50% -20%; 
  }

  &-3 {
    background-position: 50% bottom; 
  }
}
