section.cover {
  background-image: url(/assets/images/bg-cover.jpg);
  background-color: #fff;
  background-size: cover;
  background-position: 50% top;
  margin: 0 auto;
  position: relative;
  padding: 125% 0 0 0;
  
  @include media($small-media) {
    padding: 65% 0 0 0;
  } 

  @include media($medium-media) {
    padding: 0;
    height: 600px;
    background-size: 1200px;
    background-repeat: no-repeat;
  }

  @include media($large-media) {
    
  }  

  @include media($x-large-media) {
    height: 80vh;
  }
}

.spacer {
  background-image: url(/assets/images/bg-cover.jpg);
  background-color: #fff;
  background-size: cover;
  background-position: 50% -50%;
  margin: 0 auto;
  padding: 15% 0 0 0;
  
  @include media($large-media) {
    background-size: 1200px;
  }

  &-2 {
    background-position: 50% -20%; 
  }

  &-3 {
    background-position: 50% bottom; 
  }
}

.skin {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.scroll-menu {
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: 10%;
  width: 150px;
  height: 200px;
  left: 0;

  li a {
    @include text-size('beta', 'medium');
    font-family: $heading-font-family;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 3.125rem;
    color: #fff;
    padding: 0 1.25rem;

    &.bg-vibrant {
      background-color: $vibrant;
    }
    &.bg-cool {
      background-color: $cool;
    }
    &.bg-deep {
      background-color: $deep;
    }
    &.bg-sour {
      background-color: $sour;
    }
  }
}
