.section-page.featured {
  background-color: $cool;

  .section-header {
    color: lighten($cool, 10%);
  }
  
  .container {
    @include outer-container;
  }

  .inner {
    @include span-columns(12);
    padding: 1em;
  }  
}

.featured-article {
  @include span-columns(12);
  background-color: darken($cool, 5%);
  padding: 1rem;
  margin-bottom: 1rem;

  @include media($small-media) {
    @include span-columns(6);
    @include omega(3n);
    margin-bottom: 1.5rem;
  }

  &-meta {
    @include span-columns(12);
      
    @include media($small-media) {
      // @include span-columns(4);
    }   

    .date {
      text-transform: uppercase;

      &-day {
        @include text-size('gamma', 'medium');
        font-family: $heading-font-family;
        font-weight: 700;
        display: inline-block;
      }

      &-month {
        @include text-size('gamma', 'medium');
        font-family: $heading-font-family;
        font-weight: 700;
        display: inline-block;
        color: $deep;
      }
    }

    .place {
      &-title {
        @include text-size('delta', 'large');
        font-family: $alt-heading-font-family;
        font-weight: normal;
      }

      &-time {
        @include responsive-text-size('gamma');
        font-family: $heading-font-family;
        font-weight: 700;
        color: $deep;
      }
    }
  }

  &-content {
    @include span-columns(12);
    
    @include media($small-media) {

    }  

    h1 {
      @include text-size('gamma', 'small');
      font-family: $alt-heading-font-family;
      font-weight: normal;
      margin-bottom: .5rem;

      @include media($small-media) {
        @include text-size('gamma', 'large');
      }  
    }

    p {
      color: rgba(#fff, .8);
    }
  }
}
