.section-page.locations {
  @include clearfix;
  background-color: $sour;
  position: relative;
  padding-bottom: 0 !important;
  padding-top: 0 !important;

  .section-header {
    color: lighten($sour, 20%);
    text-align: left;
    margin-top: 1rem;
  }

  .location-map {
    @include span-columns(12);

    @include media($small-media) {
      @include span-columns(6);
    }

    background-color: $cool;

    .map {
      padding-bottom: 100%;
    }
  }

  .location-directory {
    @include span-columns(12);
    
    @include media($small-media) {
      @include span-columns(6);
    }
      
    color: $deep;
    padding: 2rem;
  }

  .location-list {
    li {
      margin-bottom: 1.5rem;
    }

    h4 {
      @include responsive-text-size('beta');
      font-family: $alt-heading-font-family;
      font-weight: normal;
      margin-bottom: .25rem;
    }
  }
}
