.section-page.marquee {
  background-color: $vibrant;

  .section-header {
    color: lighten($vibrant, 10%);
  }

  .container {
    @include outer-container;
    text-align: center;
  }

  .inner {
    @include span-columns(12);
    padding: 1em;
  }

  h1 {
    @include responsive-text-size('gamma');
    margin-top: 2rem;
  }

  .big-names {
    @include responsive-text-size('alpha');
    font-family: $heading-font-family;
    text-transform: uppercase;
    font-weight: 700;

    span {
      display: inline-block;

      &:nth-child(4n+1) {
        color: white;
      }

      &:nth-child(4n+2) {
        color: $deep;
      }

      &:nth-child(4n+3) {
        color: $sour;
      }

      &:nth-child(4n+4) {
        color: $cool;
      }
    }
  }
}
