.section-page.program {
  background-color: $deep;

  &.bg-vibrant {
    background-color: $vibrant;
  }

  .section-header {
    color: lighten($deep, 10%);
  }

  .inner {
    @include span-columns(12);

    @include media($medium-media) {
      @include span-columns(10);
      @include shift(1);
    }
  }

  .program-header {
    @include span-columns(12);

    @include media($small-media) {
      @include span-columns(6);
    }

    .date {
      text-transform: uppercase;

      &-day {
        @include responsive-text-size('alpha');
        font-family: $heading-font-family;
        font-weight: 800;
      }

      &-month {
        @include responsive-text-size('beta');
        font-family: $heading-font-family;
        font-weight: 700;
      }
    }

    .place {
      &-title {
        @include responsive-text-size('gamma');
        font-family: $alt-heading-font-family;
        font-weight: normal;
      }

      &-time {
        @include responsive-text-size('beta');
        font-family: $heading-font-family;
        font-weight: 700;
      }

      &-sub {
        @include responsive-text-size('alpha');
        font-family: $heading-font-family;
        text-transform: uppercase;
      }
    }
  }  

  .program-article {
    @include span-columns(12);
    margin-top: 1.5rem;
    border-bottom: 5px solid rgba(#fff, .15);
    padding-bottom: 1rem;

    @include media($small-media) {
      @include span-columns(6);
      margin-top: 0;
    }  

    h1 {
      @include responsive-text-size('beta');
      font-family: $alt-heading-font-family;
      font-weight: normal;
      padding-right: 2rem;
    }

    &-time { 
      @include responsive-text-size('beta');
      text-transform: uppercase;
    }
  }
}
